.crudButton{
    width: 100%;
    height: 5vh;
    margin-top: 1vh;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    border: none;
}


#inputModify{
    color: black;
}

.crudButton:hover{
    cursor:pointer;
    
}

.crudButton:active{
    transform: translateY(1px);
    
}

.bacheCRUD{
    position:fixed;
    margin-left: 2.1%;
    width: 19%;
    bottom: 10%;


}

#modiButton{
    background-color:#3f5179;
    color: #8ee0ed;
    font-size: large;
    
}

#descButton{
    background-color:#3f5179;
    color: #8ee0ed;
    font-size: large;
}

#elimiButton{
    background-color:red;
    color: black;
    font-size: large;
}