.search {
  position: absolute;
  top: -12rem;
  left: 75%;
  transform: translate(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  color: black;
}

.heat-btn {
  position: absolute;
  top: 1.5rem;
  left: 22rem;
  transform: translate(-50%);
  z-index: 10;
}
