.barPos {
  align-content: center;
}

.searchSin {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  height: 5vh;
  padding-left: 3vh;
}

#location {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  opacity: 80%;
  color: #3f5179;
  padding-left: 5px;
  margin-top: 10%;
}

#location:focus {
  border: none;
  outline: none;
}

.searchBar {
  float: right;
  padding: 6px;
  border: none;
  /* margin-top: 8px; */
  /* margin-right: 16px; */
  font-size: 17px;
  margin-top: -2.4rem;
  width: 30rem;
}

.size {
  width: 100%;
}
